---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Item - Intelligent Biomechanics Lab"
  description="Item page for Intelligent Biomechanics Lab"
>

<!-- ============================================ -->
<!--                    Item                      -->
<!-- ============================================ -->

<section id="item-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Item</span>
            <h1 class="cs-title">Coming Soon</h1>
            <p class="cs-text">
                This page is under construction. Stay tuned for updates.
            </p>
        </div>
    </div>
</section>

</BaseLayout>