---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="Item - Intelligent Biomechanics Lab"
  description="Item page for Intelligent Biomechanics Lab"
>

<!-- ============================================ -->
<!--                    Item                      -->
<!-- ============================================ -->

<section id="item-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Item</span>
            <h1 class="cs-title">Item Page</h1>
            <p class="cs-text">
                This is the Item page content. You can customize this page with your own content.
            </p>
        </div>
    </div>
</section>

<CTA />

</BaseLayout>