---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="Intelligent Biomechanics Lab"
  description=""
>


                                

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1435">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Team</span>
            <h2 class="cs-title">Our Expert Researchers</h2>
            <p class="cs-text"> Meet the researchers behind the Intelligent Biomechanics Lab—an interdisciplinary team of students and faculty working together to probe GI mechanics, build digital twins, and turn data into insight.</p>
        </div>
        <ul class="cs-card-group">
                        <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/shi.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/shi.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/shi.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Dr. Shi</span>
                    <span class="cs-job">Professor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
                        </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/lydia.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/lydia.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/lydia.png" alt="volunteer"
                            width="305" height="338">
                </picture>
            <div class="cs-info">
                    <span class="cs-name">Yue Li</span>
                    <span class="cs-job">PhD Student</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/noelia.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/noelia.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/noelia.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Noelia</span>
                    <span class="cs-job">Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/chase.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/chase.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/chase.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Chase</span>
                    <span class="cs-job">Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/aiden.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/aiden.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/aiden.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Aiden</span>
                    <span class="cs-job">Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/ty.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/ty.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/ty.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Ty</span>
                    <span class="cs-job">Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/michael.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/michael.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/michael.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Michael</span>
                    <span class="cs-job">Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/curtis.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/curtis.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/curtis.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Curtis</span>
                    <span class="cs-job">Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/members/yusuf.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/members/yusuf.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/members/yusuf.png" alt="volunteer"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Yusuf</span>
                    <span class="cs-job">Graduate Researcher</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

                                

</BaseLayout>

                                
<style lang="less">

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1435 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: (904/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 8vw, 3.5rem);
            text-decoration: none;
            /* prevents button text from wrapping across lines */
            white-space: nowrap;
            margin: auto;
            padding: 0 (40/16rem);
            color: var(--headerColor);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* hover box */
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }
        }

        .cs-card-group {
            width: 100%;
            /* changes at tablet */
            max-width: (413/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            border: 1px solid #e8e8e8;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            grid-column: span 12;
            position: relative;
            /* clips picture tag from overflowing */
            overflow: hidden;
        }

        .cs-picture {
            width: 100%;
            min-height: (300/16rem);
            display: block;
            position: relative;
            z-index: 1;
            /* removed at tablet */
            aspect-ratio: (328/280);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            text-align: center;
            width: 100%;
            /* prevents padding from affecting the height and width */
            box-sizing: border-box;
            padding: (24/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .cs-name {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (4/16rem) 0;
            color: var(--headerColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-social-group {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: (8/16rem);
        }

        .cs-link {
            width: (32/16rem);
            height: (32/16rem);
            background-color: #e8e8e8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-icon {
                    filter: grayscale(100%) brightness(1000%);
                }
            }
        }

        .cs-icon {
            width: (12/16rem);
            height: auto;
            filter: grayscale(100%);
            transition: filter 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-1435 {
        .cs-card-group {
            max-width: 100%;
            align-items: stretch;
        }

        .cs-item {
            max-width: 100%;
            grid-column: span 6;
            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);

                .cs-name {
                    color: var(--primary);
                }
            }
        }

        .cs-picture {
            height: 100%;
            /* 280px - 350px, resets at desktop */
            min-height: clamp(17.5rem, 33vw, 21.875rem);
            background-color: #000;
            overflow: hidden;
            aspect-ratio: initial;

            img {
                transition: transform 0.6s, opacity 0.3s;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #meet-team-1435 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 3;
        }

        .cs-picture {
            /* 245px - 338px */
            height: clamp(15.3125rem, 27vw, 21.125rem);
            min-height: (245/16rem);
        }
    }
}
                                                     

                                
                                
</style>

